@(testRun: model.TestRun)

@main("Test Stash - Test Log") {

    @if(testRun.testResult == "PASSED") {
        <img class="pull-right" src="@routes.Assets.at("images/thumbs_up.gif")" alt="thumbs_up">
    } else {
        <img class="pull-right" src="@routes.Assets.at("images/thumbs_down.gif")" alt="thumbs_down">
    }

    <h2>@testRun.testName</h2>
    <ul>
        <li>@testRun.testDate</li>
    </ul>

    <h3>Log</h3>
    <ul>
    @for(message <- testRun.messages.getOrElse(List())) {
        <li>@message</li>
    }
    </ul>

    @if(testRun.error.isDefined) {
        <h3>Error - @testRun.error</h3>
    }

    @if(testRun.screenShotId.isDefined) {
        <br/><img src="@routes.MainController.screenShot(testRun.screenShotId.get.stringify)"/>
    }
}
